body{
    margin: 0px;
    position: relative;
    font-family: 'Poppins'
}

.header{
    width: 100%;
}


img{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translateX(-50%);
    width: 20%;
}

.main{
    width: 50%;
    position: absolute;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

}

.main p{
    font-size: 1.5rem;
    width: fit-content;
    margin: auto;
    margin-bottom: 4rem;
}

textarea{
    box-sizing: border-box;
    resize: none;
    margin: auto;
    width: 100%;
    min-height: 10rem;
    display: block;
    border: 2px solid #9d9d9d;
    border-radius: 2rem;
    background-color: #f4f4f4;
    margin-bottom: 1rem;

    padding: 2rem;
    font-size: 1rem;

}

.selections{
    width: fit-content;
    margin: auto;
}

.selections select{
    margin: 0rem 1rem;
    padding: .5rem;
}