

.login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);


    
    border: 2px solid black;
    background-color: #fdfeff;
    width: 40%;
    padding: 4em;
    margin: auto;

    overflow: auto;
}

.login p{
    margin-left: 20%;
    margin-top: 0rem;
    margin-bottom: 3rem;
    font-size: 1.3rem;
}


input{
    font-size: 1rem;
    background-color: #f4f4f4;
    border: 2px solid #9d9d9d;
    width: 70%;
    margin: auto;
    display: block;
    border-radius: 4rem;
    padding: 1rem 1.2rem;
}

input[type="submit"]{

    width: 17ch;
    background-color: black;
    color: white;

}

input[type="submit"]:hover{
    cursor: pointer;
    background-color: #00A181;
    color: #054c46;
}


button{
    color: white;
    background-color: black;
    border: 0px;
    border-radius: 1rem;
    padding: 1rem;
}
button:hover{
    background-color: #00A181;
    color: #054c46;
    cursor: pointer;
}